.about_account_wrapper {
    padding: 200px;
    display: flex;
    justify-content: center;
}

#about_account {
    padding: 30px;
    border: 2px solid #000;
    border-radius: 16px;
    min-width: 50%;
}

.about_list_1, .about_list_2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 1px;
    /* display: block; */
}

.about_list hr {
    background-color: #000;
    margin: 0 10px 0 10px;
    height: 1px;
}

.edit_bttn {
    margin: 3px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 5px 0 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.edit_bttn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.input_edit {
    display: none;
}

.qewrqewr {
    display: block; 
}