* {
    box-sizing:border-box;
}

.goods_wrapper {
    display: flex;
    padding: 200px 0 0 100px;
}

.img_sarousel {
    background-size: cover;
    width: x;
    height: y;

}

.carousel {
    max-width: 300px;
}

.img_sarousel {
    max-width: 100px;
}

.img_sarousel img {
    height: 400px;
}

.slideshow-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bttn {
    margin-top: 40%;
}

.prev, .next {
    margin: 0 20px 0 20px;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.2s ease;
    border-radius: 3px 3px 3px 3px;
}

.next {
    border-radius: 3px 3px 3px 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}