.goods_wrapper {
    height: 100%;
}

#product {
    padding-top: 190px;
    display: flex;
    justify-content: space-around;
}

#product .goods-img {
    display: flex;
    justify-content: center;
    margin: 0 100px 0 150px;
    height: 350px;
}

.about {
    width: 800px;
}

.goods-img img {
    width: fit-content;
}