.category {
    background-color: rgb(237, 237, 237);
    padding: 70px;
}

.background_img {
    width: 1519px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.product-card {
    /* max-width: 100px; */
}

.product-card img {
    width: 120px;
    padding: 2vh 1vw;
}

.probuct {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.goods {
    display: flex;
    justify-content: space-between;
}
