.category {
    background-color: rgb(237, 237, 237);
    padding: 70px;
}

.background_img {
    width: 100%;
}

.wrapper {
    width: 100%;
}

#pants, #t_shirts, #hoodies {
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, )); */
    min-width: 100px;
    margin: 20px;
    min-width: 100%;
    margin-bottom: 50px;
}

.product {
    background-color: #fff;
    border-radius: 16px;
    width: 190px;
    padding: 10px;
}

.icon-like {
    display: none;
    position: absolute;
    fill: black;
    width: 25px;
}

.icon-like img {
    width: 100%;
}

.product:hover .icon-like {
    display: block;
}

.wrapper .goods {
    border-radius: 15px;
    background-color: #fff;
    width: 190px;
    margin: 10px;
}

.wrapper .goods-img {
    display: flex;
    justify-content: space-around;
    height: 250px;
}