.sign-up-wrapper {
    padding-top: 120px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow:  20px 20px 60px #e9e9e9,
             -20px -20px 60px #ffffff;
}

.around-10 {
    padding: 10px;
}

.sign-up {
    border: 2px solid #000; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 0 15px 0;
    align-items: center;
    border-radius: 20px;
    width: 320px;
    height: 470px;

}

.sign-up hr {
    width: 95%;
    background-color: #000;
    margin-left: 4.5px;
}

.sign-up input {
    width: 200px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    transition: all 0.3s;
}

/* .sign-up input::placeholder {
    color: 
} */

.sign-up a {
    text-decoration: none;
}

.submit {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.3s;
}

.submit:hover {
    background-color: #000;
    color: #fff;
}