@import url("header.css");
@import url("footer.css");
@import url("sign_in.css");
@import url("home.css");
@import url("goods.css");
@import url("wish-list.css");
@import url("sign-up.css");

* {
    margin: 0;
    padding: 0;
    font-family: roboto, arial, helvetica;
    /* text-decoration: none; */
}

.main {
    position: relative;
    min-height: 100vh;
}