@import url("header.css");
@import url("footer.css");
@import url("sign_in.css");
@import url("home.css");
@import url("goods.css");
@import url("wish-list.css");
@import url("sign-up.css");
@import url("account.css");
@import url("basket.css");
@import url("about_account.css");
@import url("contacts.css");

* {
    margin: 0;
    padding: 0;
    font-family: roboto, arial, helvetica;
}

#feedback {
    margin: 25px;
    display: flex;
    text-decoration: none;
    color: white;
}

#feedback:hover {
    color: rgb(64, 64, 255);
}

.main {
    position: relative;
    min-height: 100vh;
}