.wish_list_wrapper {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 150px;
}

.goods-list {
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    border-radius: 16px;
    margin: 10px;
    padding: 20px;
}

.goods-list img {
    margin-right: 20px;
    border-radius: 10px
}

.wishlist_img {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
}